<!DOCTYPE html>

<html>
<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>

    <p>Real-Time & Historical World Weather Data API. 
      <a href="https://weatherstack.com/">More info weaderstack.com</a>
    </p>

    <p>Maps and location for developers
      <a href="https://www.mapbox.com/">More info mapbox.com</a>
    </p>

  </div>

  {{>footer}}
</body>

</html>